@charset "utf-8";
/* 페이지에서 사용할 공통적이면서 기본적인 디자인 */
html,body{
    font-family:"맑은 고딕";
    font-size:16px;
    margin:0;
    height:100%;
}
::-webkit-scrollbar{
    display: none;
}
a{
    color:#333333;
    text-decoration: none;
}
a:hover{
    color:#666666;
}
img{
    vertical-align: bottom;
}
*{
    box-sizing:border-box;
}


