@charset "utf-8";
html,body{
    height: auto;
}

section{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.detail-banner-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
       
}
.detail-list{
    width: 200px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
    margin-right: 5%;
    position: sticky;
    top:200px;
  
}
.detail-list a{
    color: white;
   font-size: 1em;
   padding: 6% 0;
}
.d-b-content{
    width: 70%;
    padding: 2% 5%;
}
.d-b-content h2{
    text-align: center;
    font-size: 2em;
    margin: 100px 0 50px 0;
}
.d-b-content hr{
    border-color: black;
    margin-bottom: 100px;
}
.detail-content{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.content{
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap:wrap; 
}
.thum-1 {
    width:40%;
    padding: 2% 5% 4%;
    } 
.thum-2 {
        width:33%;
        padding:0.5%;
    }
.thum{
    width:43%;
   padding  :1% ;
}
.thum img{
    width: 100%;
    
}
.thum-1 img{
    width:100%;   
}
.thum-2 img{
    width:100%;  
    object-fit: cover; 
}
.thum-1 p{
    text-align: center;
    font-size: 1.05em;
    font-weight: 700;
    color:rgb(73, 3, 3);
}

@media  screen and (max-width:1024px) {
    .detail-banner-wrap{
    flex-direction: column;
    width:100%;
    margin: auto;
    }
    .detail-list{
        width:80%;
        margin: auto;
        padding: 3%;
        height: 30px;
        margin-top: 150px;
        flex-direction: row;
        position: static;
       }
  
    .detail-list a{
        font-size:1em ;
    }
    .d-b-content{
        width: 80%;
        margin: auto;
        padding: 0;
    }
}



